
body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

.screen {
  position: fixed;
  inset: 0;
  display: none;
}

.screen.active {
  display: block;
}

.screen img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

button {
  position: absolute;
  border: 1px solid #00b1e7;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

#comenzar {
  top: 39%;
  left: 30.5%;
  width: 39%;
  height: 22%;
}

#quees {
  top: 55%;
  left: 39%;
  width: 22%;
  height: 9%;
}

#trampa {
  top: 67%;
  left: 39%;
  width: 22%;
  height: 9%;
}

#queesregresar {
  top: 87%;
  left: 34%;
  width: 32%;
  height: 8%;
}

#tramparegresar {
  top: 4%;
  left: 9%;
  width: 6%;
  height: 4%;
}

#prebatallacontinuar,
#wincontinuar,
#wfuerzacontinuar,
#wastuciacontinuar,
#lagilcontinuar {
  top: 92%;
  left: 44%;
  width: 12%;
  height: 7%;
}

#fuerzaboton {
  top: 55%;
  left: 14%;
  width: 22%;
  height: 29%;
}

#astuciaboton {
  top: 55%;
  left: 40%;
  width: 20%;
  height: 29%;
}

#agilidadboton {
  top: 55%;
  left: 64%;
  width: 21%;
  height: 29%;
}

#wfuerzapostcontinuar,
#wastuciapostcontinuar,
#lagilpostcontinuar {
  top: 75%;
  left: 40%;
  width: 22%;
  height: 10%;
}

#aftermenu {
  top: 83%;
  left: 40%;
  width: 22%;
  height: 10%;
}



#ingredientes {
    position: fixed;
}

/* SVG que se coloca exactamente
   encima de la imagen */
.ingredientes-overlay {
    position: absolute;
    inset: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
}

/* Cada zona seleccionable */
.ingrediente {
    fill: rgba(255, 255, 255, 0);
    stroke: transparent;
    stroke-width: 5;

    cursor: pointer;

    pointer-events: auto;

    transition: 
        fill 0.15s ease,
        stroke 0.15s ease,
        filter 0.15s ease;
}

/* Al pasar el mouse */
.ingrediente:hover {
    fill: rgba(255, 255, 255, 0.15);
    stroke: #ba00d377;

    filter: drop-shadow(0 0 5px #f7f7f700);
}

/* Cuando está seleccionado */
.ingrediente.seleccionado {
    fill: rgba(0, 177, 231, 0.20);
    stroke: #ba00d377;

    filter: drop-shadow(0 0 8px #fdfdfd70);
}

/* Cartel */
#tooltip-ingrediente {
    position: fixed;

    display: none;

    padding: 8px 14px;

    background: rgba(0, 0, 0, 0.85);
    color: white;

    border: 2px solid #f7f8f859;
    border-radius: 8px;

    font-family: Arial, sans-serif;
    font-size: 16px;

    pointer-events: none;

    z-index: 1000;

    white-space: nowrap;
}